<section class="mainShell">
    <p class="languageCaption"><i>&#42;The Usage is a 0&#45;10 rating on how often I use listed technology</i></p>

    <table class="srcryBox languageTable">
        <thead>
            <tr>
                <th class="tableHeader">Language</th>
                <th class="tableHeader">Experience</th>
                <th class="tableHeader">Usage</th>
            </tr>
        </thead>
        <tbody>
            <tr class="languageItem" *ngFor="let a of LanguageList">
                <td>{{a.name}}</td>
                <td>{{a.experience}} <span class="years">years</span></td>
                <td>{{a.usage}}</td>
            </tr>
        </tbody>
    </table>
</section>