<section class="mainShell">

    <article class="displayRow firstRow">
        <h3 class="displayTitle">Certificate</h3>
        <p class="displayArea">{{Certificate.title}}</p>
    </article>

    <article class="displayRow">
        <h3 class="displayTitle">Issued</h3>
        <p class="displayArea">{{Certificate.issued}}</p>
    </article>
    
    <article class="displayRow">
        <h3 class="displayTitle">Institution</h3>
        <p class="displayArea">{{Certificate.institution}}</p>
    </article>

    <article class="displayRow lastRow">
        <a [href]="Certificate.link" class="link" target="blank">View Certificate</a>
    </article>

</section>