<section class="introSection">

    <div class="introPhoto"></div>
    <div class="introPhotoOverlay"></div>

    <article class="srcryBox elevatorPitch">
        <p class="srcryTxt pitchText">
            I have a <span class="emphasisTxt">passion</span> for turning <span class="emphasisTxt">ideas</span> into <span class="emphasisTxt">intuitive mechanisms</span> through <span class="emphasisTxt">art and coding</span>&#46;
        </p>

        
    </article>
</section>

<section class="languageShell">
    <div class="languageShellBgPhoto"></div>
    <div class="languageShellOverlay"></div>

    <article class="languageContent">
        <p class="proficiencyTitle">Language Proficiency</p>
    
        <language-proficiency></language-proficiency>
    </article>


</section>


<coding-specialties></coding-specialties>
