:host{
    display: block;
    height: var(--xTiny-1-6);
    background-color: var(--color-01);
}

.nav{
    display: grid;
    grid-template-columns: var(--xSmall-2-3) 1fr;
    align-self: center;
    height: var(--xTiny-1-6);
}

.mobileButton{
    display: grid;
    grid-template-columns: var(--xTiny-1-2);
    grid-template-rows: repeat(5, var(--line-narrow));
}

.dash{
    display: block;
    background-color: var(--color-05);
}

.logoFrame{
    grid-area: 1/1/2/2;
    display: grid;
    margin-left: var(--line-narrow);
    align-self: center;
    align-items: center;
    justify-items: center;
    /*height: var(--xTiny-1-3);*/
}

.logo{
    grid-area: 1/1/2/2;
    display: block;
    background-size: contain;
}

.mobileMenu{
    display: grid;
    list-style: none;
    justify-self: right;
    align-self: center;
    margin-right: var(--xTiny-1-1);
}

.linkFrame{
    grid-area: 1/2/2/3;
    justify-self: right;
    align-items: center;
    display: none;
    grid-auto-columns: var(--xSmall-1-1);
    grid-auto-flow: column;
}

.monitorNav{ display: none; }

.mobileNav{ display: grid; }

@media screen and (min-width: 600px) {
    .mobileMenu{ display: none; }

    .linkFrame{ display: grid; }
}