@import url(./srcry.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-01: #252323;
    --color-02: #70798c;
    --color-03: #f5f1ed;
    --color-04: #dad2bc;
    --color-05: #a99985;
    --color-06: #5F5344;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}
